a.time, a.time:visited {
    text-decoration: none;
    color: #8888cc;
}
a.time:active, a.time:hover {
    text-decoration: none;
    color: #9999dd;
}
a.time:before { content: "["; }
a.time:after { content: "]"; }


li.chan {
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

.highlighted{
    background-color: #FFA858;
}

.selected{
    background-color: #0099ff;
}
