<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ request.static_url('rezoirclogs:static/bootstrap.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ request.static_url('rezoirclogs:static/bootstrap-responsive.css') }}" type="text/css" />
  {%- if resources is defined -%}
  {%- for css in resources['css'] -%}
        <link rel="stylesheet" href="{{ request.static_url('deform:static/' + css) }}" type="text/css" />
  {%- endfor %}
  {%- for js in resources['js'] -%}
  <script type="text/javascript"
          src="{{ request.static_url('deform:static/' + js) }}"></script>
  {%- endfor %}
  {%- endif %}
    <title>{% block title %}{% endblock %} - Logs IRC</title>
    {% endblock %}
</head>
<body>
  <div class="container">
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
  </div>
</body>
</html>