{% extends "base.jinja2" %}

{% block title %} - {{ chan.__name__ }}{% endblock %}

{% block content %}
<h1>{{ chan.__name__ }}</h1>

    <div>
    {% if chan.__parent__ %}
        <a class="btn" href="{{ chan.__parent__ | model_url }}">..</a>
    {% endif %}

    <a class="btn info" href="{{ context|model_url('search') }}">Search</a>
    </div>

    {% for file in chan %}
        {% if loop.first %}
            <h2>Dates</h2>
            <div id="main">
            <ul>
        {% endif %}

    <div class=file><li> <a href="{{ file | model_url }}">{{ file.__name__ }}</a></div>

        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
