{% extends "base.jinja2" %}

{% block title %}Directory : {{ dir.__name__ }}{% endblock %}

{% block content %}
    {% if dir.__name__ != '' %}
        <h1>{{ dir.__name__ }}</h1>
    {% else %}
        <h1>Logs IRC</h1>
    {% endif %}

    <div>
    {% if dir.__parent__ %}
        <a class="btn" href="{{ dir.__parent__ | model_url }}">..</a>
    {% endif %}

    <a class="btn info" href="{{ context|model_url('search') }}">Search</a>
    </div>

    {% for subdir in dir %}
        {% if loop.first %}
	    <div id="main">
            <ul>
        {% endif %}

    <li> <a href="{{ subdir | model_url }}">{{ subdir.__name__ }}</a>

        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}


    {% for chan in dir.chans %}
        {% if loop.first %}
            <h2>Chans</h2>
            <div class="row">
        {% endif %}
    <div class="span3"> <h3><a href="{{ chan | model_url }}">{{ chan.name }}</a></h3>
        <ul class="unstyled">
            {% for file in chan.last(5) %}
                <li class="file"><a href="{{ file | model_url }}">{{ file.date.strftime('%d/%m/%Y (%A)') }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if loop.last %}
        </div>
    {% endif %}
    {% endfor %}

    </div>

{% endblock %}
