{% extends "base.jinja2" %}
{% from 'macros.jinja2' import display_line %}

{% block title %}{{ context.__parent__.__name__ }} {{ context.__name__ }}{% endblock %}

{% block content %}
    <p><a href="{{ context.__parent__ | model_url }}">..</a></p>
    {% set previous = context.previous %}
    {% if previous %}<p><< <a href="{{ previous | model_url }}">{{ previous.date }}</a></p>{% endif %}

    <div id="main">
    {% for line in lines %}
        <div {% if line.highlighted %}class="highlighted"{% endif %} {% if line.selected %}class="selected"{% endif %}>
        {% if line.anchor is defined %}
            <a href="{{ line.anchorlink }}" name="{{ line.anchor }}" class="time">{{ line.time }}</a>
        {% endif %}
        {{ display_line(line) }}
        <br/>
        </div>
    {% endfor %}
    </div>
    {% set next = context.next %}
    {% if next %}<p><a href="{{ next | model_url }}">{{ next.date }} >> </a></p>{% endif %}
{% endblock %}
