{% extends "base.jinja2" %}

{% block title %}{{ context.__parent__.__name__ }} {{ context.__name__ }}{% endblock %}

{% block content %}
    {% set previous = context.previous %}
    {% if previous %}<p><< <a href="{{ previous | model_url }}">{{ previous.date }}</a></p>{% endif %}

    {% for line in lines %}
        <div {% if line.highlighted %}class="highlighted"{% endif %}>
        {% if line.anchor is defined %}
            <a href="{{ line.anchorlink }}" name="{{ line.anchor }}" class="time">{{ line.time }}</a>
        {% endif %}
        {% if line.type == 'normal' %}
            <b>&lt;{{ line.user | colored }}&gt;</b> {{ line.message | handle_url }}
            {% elif line.type == 'me' %}
            * <b>{{ line.user | colored}}</b> {{ line.message | handle_url}}
            {% elif line.type == 'status' %}
            -!- <b>{{ line.user | colored }}</b> {{ line.message }}
        {% else %}
            {{ line.text }}
        {% endif %}
        <br/>
        </div>
    {% endfor %}
    {% set next = context.next %}
    {% if next %}<p><a href="{{ next | model_url }}">{{ next.date }} >> </a></p>{% endif %}
{% endblock %}