{% extends "base.jinja2" %}
{% from 'macros.jinja2' import display_line %}

{% block title %} - {{ context.__parent__.__name__ }} - {{ context.__name__ }}{% endblock %}

{% block content %}
    <p><a class="btn" href="{{ context.__parent__ | model_url }}">..</a></p>
    {% set previous = context.previous %}
    {% if previous %}<a class="btn" href="{{ previous | model_url }}"><i class="icon chevron-left"></i> {{ previous.date }}</a>{% endif %}

    <div id="main">
    {% for line in lines %}
        <div {% if line.highlighted %}class="highlighted"{% endif %} {% if line.selected %}class="selected"{% endif %}>
        {% if line.anchor is defined %}
            <a href="{{ line.anchorlink }}" name="{{ line.anchor }}" class="time">{{ line.time }}</a>
        {% endif %}
        {{ display_line(line) }}
        <br/>
        </div>
    {% endfor %}
    </div>
    {% set next = context.next %}
    {% if next %}<p><a class="btn" href="{{ next | model_url }}">{{ next.date }} <i class="icon chevron-right"></i></a></p>{% endif %}
{% endblock %}
