{% extends "base.jinja2" %}
{% from 'macros.jinja2' import display_line %}

{% block title %}Search results for {{ query }}{% endblock %}

{% block content %}
    {% set name = context.__name__ or '/' %}
    {% if form %}
        <h2>Search in {{ name }}</h2>
        <p><a href="{{ context|model_url }}">Back to {{ name }}</a></p>
    {{ form|safe }}
<script type="text/javascript">
   deform.load()
</script>
    {% endif %}

    {% if results %}
        <h2>Search results for {{ query }} in {{ name }}</h2>
        <p><a href="{{ context|model_url }}">Back to {{ name }}</a></p>
        <p><a href="{{ context|model_url('search') }}">Back to search</a></p>
    {% for date, list_for_date in results|groupby('date')|reverse -%}
        <h3>{{ date }}</h3>
        {% for chan, list in list_for_date|groupby('chan') -%}
        <h4>{{ chan }}</h4>
        <p>
            {% for line in list -%}
                <div>
            <a href="{{ line.anchorlink }}" class="time">{{ line.time }}</a>
            {{ display_line(line) }}
                </div>
            {%- endfor %}
        </p>
        {%- endfor %}
    {%- endfor %}
    {% endif %}
    {% if results == [] -%}
        <h2>No results for {{ query }} in {{ name }}</h2>
        <p><a href="{{ context|model_url }}">Back to {{ name }}</a></p>
        <p><a href="{{ context|model_url('search') }}">Back to search</a></p>
    {%- endif %}
{% endblock %}